*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
}
.header .member-bgcolor{
    background-color:#679509 ;
    border: 2px solid black;
}
.header .member-width{
    width: 1200px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 2px solid black;
}
.header .txt{
    padding: 15px 5px;
    font-size: 14px;
}
.header .link ul{
    display: flex;
    height: 100%;
    align-items: center;
}
.header .link ul li{
    padding: 0 27px;
    position: relative;
}
.header .link ul a:hover{
    color: #c7ed79;
    
}
.header .link ul li + li::before{
    content: '';
    border: 1px solid #fff;
    height: 100%;
    position: absolute;
    left: 0;

}
.header .link ul a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    
}
.header .nav{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 0;
}
.header .nav-btn ul{
    display: flex;
    text-decoration: none;
    height: 100%;
    align-items: center;
}
.header .nav-btn ul li{
    padding: 0 20px;
}
.header .nav-btn ul li:first-child a{
    color: #679509;
}
.header .nav-btn ul li a{
    text-decoration: none;
    color: #A5A5A5;
    font-size: 14px;
}

.full{
    background-image: url(/jasonhw/hw3/img/asset36.png);
    height: 860px;
    background-size: cover;
}